*{
	margin: 0;
}

html {
	 background-color: #eee;
	 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 font-size: 64.5%;
}

body{
	background: url("assets/background2.jpg");
	background-size: cover;
	display: flex;
	height: 100vh;
	width: 100%;
}

.content{
	margin-top: 10px;
	padding: 10px;
	width: 270px;
	border: 5px solid black;
	height: 180px;
	margin-bottom: 20px;
	background: white;
	
}
 .wrapper {
	 font-size: 1.5rem;
	 height: 500px;
	 margin: 0 auto;
	 width: 500px;
}

.instrucciones{
	left: 20px;
	width: 400px;
	position: absolute;
	border: 5px solid black;
	border-radius: 7px;
	padding: 10px;
	background-color: white;
}

.instrucciones-p{
	font-size: 20px;
}



 canvas {
	 background-image: url("assets/background.png");
	 background-size: cover;
	 border: 5px solid black;
	 border-radius: 7px;
	 height: 500px;
	 width: 500px;
}
 .playerYou .wrapper {
	 color: #8a0022;
}
 .playerYou canvas {
	 border-color: #f36;
}
 .playerYou #diceThrow {
	 background-color: #f36 1;
	 background-blend-mode: multiply;
	 border-color: #d60036;
}
 .playerAutoBot .wrapper {
	 color: #3a480e;
}
 .playerAutoBot canvas {
	 border-color: #8a2;
}
 .playerAutoBot #diceThrow {
	 background-color: #8a2 2;
	 background-blend-mode: multiply;
	 border-color: #556a15;
}
 #diceThrow {
	 background-image: url("https://assets.codepen.io/215128/diceSpots.png");
	 background-size: 50px;
	 border: 2px solid black;
	 border-radius: 7px;
	 cursor: pointer;
	 display: inline-block;
	 height: 50px;
	 width: 50px;
}
 #diceThrow.s6 {
	 background-position: 0 0;
}
 #diceThrow.s5 {
	 background-position: 0 -50px;
}
 #diceThrow.s4 {
	 background-position: 0 -100px;
}
 #diceThrow.s3 {
	 background-position: 0 -150px;
}
 #diceThrow.s2 {
	 background-position: 0 -200px;
}
 #diceThrow.s1 {
	 background-position: 0 -250px;
}
 .buttonWrapper {
	 display: flex;
	 margin: 15px 15px;
}
 button {
	 border-radius: 7px;
	 margin-left: 100px;
	 padding: 10px 30px;
}
 .hidden {
	 display: none;
}
 h1 {
	 margin-bottom: 5px;
}
 h2 {
	 margin-top: 0;
}
 