body {
    background-color: aqua;
}

.containe {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/2560.jpg");
    background-size: cover;
    background-position: center;
}

.texto-amarillo {
    color: yellow;
}


#mal3ab #o1 {
    border: 5px solid white;
    /*  margin-left:10px;*/
    width: 1300px;
    height: 600px;

    /* background-image: url("./assets/33.jpg");*/
}



#ablshemal {
    position: absolute;
    left: 34%;
    top: 37%;
}

#mal3ab #shemal {
    height: 80px;
    width: 80px;
    border-radius: 200px;
    background-color: blue;
}

#yemeen {
    position: absolute;
    right: 32%;
    top: 37%;
    height: 80px;
    width: 80px;
    border-radius: 200px;
    background-color: blue;
}


#nos {
    position: absolute;
    left: 48%;
    top: 30%;
    height: 80px;
    width: 80px;
    border-radius: 200px;
    background-color: blue;

}

#ares {
    position: absolute;
    left: 45%;
    top: 40%;
}

#ares .goal {
    width: 200px;
    height: 200px;
}


#kora img {
    height: 70px;
    width: 70px;
}

#kora {
    position: absolute;
    top: 80%;
    left: 47%;
}

#again {
    display: none;
}

#again:hover {
    cursor: pointer;
}