*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 5vmin;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: rgb(89 89 89);
  
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: #AAA;
  border-radius: 1vmin;
  border: 5px solid black;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: red;
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
  border: 1px solid black;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

.info{
  position: absolute;
  color: white;
  font-size: 20px;
  padding: 0 20px;
  top: 165px;
  width: 350px;
  left: 100px;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 20px;
}

.score{
  position: absolute;
  color: white;
  font-size: 30px;
  top: 170px;
  left: 660px;
}

.score p{
  right: 20px;
  bottom: 6px;
  position: absolute;
}

.info2{
  position: absolute;
  color: white;
  font-size: 20px;
  top: 165px;
  width: 350px;
  right: 100px;
  padding: 0 20px;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 20px;
}