html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-hero {
  position: absolute;
  bottom: 0;  /* o ajusta según la posición deseada */
  left: 0;    /* o ajusta según la posición deseada */
  width: 50px;
  height: 50px;
}


.game-canvas {
  background: url("./assets/Summer2.png") center center no-repeat;
  background-size: cover;
}


#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  font-weight: 900;
}

#introduction {
  width: 300px;
  height: 20px;
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
  margin-right: 900px;
}

#metaCorto{
  width: 300px;
  height: 500px;
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#metaMedio{
  width: 300px;
  height: 300px;
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#metaLargo{
  width: 300px;
  height: 100px;
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}


#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
  z-index: 1;
}

#mensaje{
  text-align: center;
  color: black;
  top: 70px;
  width: 300px;
  height: 100px;
  position: absolute;
  font-size: 30px;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}


